.login-page {
    width: 100%;
    background-color: rgb(226, 225, 225);
    padding: 20px 30px;
}
.login-page-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 0px 30px 2px rgb(34, 33, 33);
    border-radius: 30px;
    overflow: hidden;
    min-height: 80vh;
}
.login-page-wrapper > *{
    width: 50%;
}
.login-left{
    padding: 40px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.login-left > h1{
    font-size: 35px;
    font-weight: 700;
}
.login-left > p:nth-child(2){
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: 600;
}
.login-left > p:nth-child(2) a{
    color: var(--bg-color);
    margin-left: 3px;
    font-weight: 700;
    transition: color 0.2s;
}
.login-left > p:nth-child(2) a:hover{
    color: red;
}
.login-form{
    width: 100%;
    max-width: 400px;
}
.login-btn{
    width: max-content;
}
.login-design{
    background-color: var(--bg-color);
    display: flex;
}
.login-design .lazy-load-image-background{
    align-self: flex-end;
}

@media screen and (max-width: 950px){
    .login-design .lazy-load-image-background{
        align-self: center;
    }
}
@media screen and (max-width: 800px){
    .login-page-wrapper{
        flex-direction: column;
    }
    .login-page-wrapper > *{
        width: 100%;
    }
    .login-form{
        max-width: 550px;
    }
    .login-design {
        width: 100%;
        max-height: 400px;
        justify-content: center;
    }
    .login-design .lazy-load-image-background{
        width: 100%;
        max-width: 500px;
        align-self: unset;
    }
}

@media screen and (max-width: 550px){
    .login-left{
       min-height: 80vh;
       justify-content: center;
    }
    .login-design{
        display: none;
    }
}