/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #651fff;
  --font-poppins: 'Poppins', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}
body{
  font-family: var(--font-open-sans);
}
.noData{
  font-size: 12px;
  margin-top: 10px;
}
.or{
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
  margin-block: 20px;
}
.or::before,
.or::after{
  content:'';
  position: absolute;
  top:50%;
  width: calc(50% - 17px);
  height: 1px;
  background-color: rgb(185, 183, 183);
}
.or::after{
  left: 0;
}
.or::before{
  right: 0;
}
.full-page{
  height: 100vh;
}