.cards{
    width: 100%;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.cards .common-card-image{
    height: 220px;
    border-radius: 30px;
    overflow: hidden;
}
.cards .common-card-details h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}